:root {
  --verdeT1: #036b52;
  --verdeT3: #309e76;
  --verdeT2: #2fc18c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

/* barra de navegação */
nav {
  background-color: #036b52;
  color: white;
}

nav .container {
  /* max-width: 1200px; */
  padding: 10px 20px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

nav .logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

nav .logo img {
  width: auto;
  height: 30px;
}

nav .logo h2 {
  color: white;
  padding-left: 10px;
}

nav .navbar-nav {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav .navbar-nav .nav-item {
  padding-left: 20px;
  display: block;
}

nav .navbar-nav .nav-item a {
  text-decoration: none;
  color: rgb(212, 212, 212);
  display: block;
}

nav .navbar-nav .nav-item a:hover {
  color: white;
}


.git-button {
    height: 3rem;
    border-radius: 3rem;
    background: rgba(0, 0, 0, 0.8);
    border: none;
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaaaaa;
    cursor: pointer;
    font-weight: bold;
}


main {
  display: flex;
  flex-direction: column;
  padding: 1em;
  margin: auto;
}

/* apresentação */

.apresentacao {
  background-color: white;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.apresentacao div {
  flex: 1;
  /* display: inline-block; */
  max-width: 45%;
}

.apresentacao-texto {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.apresentacao-texto h1 {
  font-size: 2em;
  margin-bottom: 1.5em;
}

.apresentacao-texto p {
  font-size: 1.4em;
}

.text-important {
  color: var(--verdeT1);
}

/* Busca */

.busca {
  /* background-color: var(--verdeT3); */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-around; */
  margin-bottom: 20px;
}

.busca h3 {
  font-size: 1.7em;
  margin: 28px 0px 14px 0px;
}

.busca input {
  font-size: 1.4em;
  width: 58%;
  margin-bottom: 14px;
  border: 2px solid var(--verdeT2);
  border-radius: 5px;
  padding: 0 10px;
}

.busca button {
  font-size: 1.4em;
  background-color: var(--verdeT3);
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  border: 1px solid var(--verdeT1);
}


.busca button:hover {
  color: black;
  box-shadow: 0px 0px 10px black;
}

/* parte implementeda por guilherme */

.content-table {
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 0.9em;
  min-width: 500px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(128, 128, 128, 0.379);
}

.content-table thead tr {
  background-color: rgb(81, 201, 135);
  color: azure;
  min-width: 400px;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid rgba(128, 128, 128, 0.283);
}

.content-table tbody tr:nth-of-type(even) {
  background-color: rgba(128, 128, 128, 0.105);
}

#father {
  position: relative;
  height: 25px;
  margin-top: 50px;
  background-color: grey;
  border-radius: 15px;
  width: 800px;
}

#children {
  position: absolute;
  height: 25px;
  border-radius: 5px;
  background-color: rgb(102, 255, 145);
  animation: teste 5s forwards;
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgba(44, 218, 93, 0.529);
}

tr:hover {
  color: rgb(81, 201, 135);
  background-color: rgba(128, 128, 128, 0.146);
  /* cursor: pointer; */
}

@keyframes teste {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

#popup {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
  background-color: rgb(81, 201, 135);
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgba(128, 128, 128, 0.749);
  margin-bottom: 100px;
}

#popup img {
  width: 100px;
  border: 2px solid rgb(7, 138, 92);
  border-radius: 50%;
  padding: 20px;
  background-color: aliceblue;
}

#popup p {
  border: 2px solid rgb(9, 107, 43);
  margin: 10px 40px;
  background-color: aliceblue;
  border-radius: 10px;
  padding: 10px 15px;
  text-decoration: none;
}

[class^='th'] {
  cursor: pointer;
}

/* Footer */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 7px 0;
  background-color: var(--verdeT1);
  border-top: 2px solid black;
}

footer div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

footer a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}

footer a p {
  display: inline-block;
  padding-right: 10px;
  font-size: 0.6rem;
}

footer a img {
  height: 20px;
}

@media screen and (min-width: 1200px) {
  body {
    font-size: 14px;
  }
  
  nav .container {
    max-width: 1200px;
  }

  main {
    max-width: 1200px;
  }

  .apresentacao {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .foto {
    /* display: block; */
    margin: auto;
    /* height: 300px;  */
    max-width: 100%;
    /* object-fit: cover; */
    border-radius: 50px;
  }

  .busca {
    margin-top: 30px;
  }

  footer div {
    max-width: 1200px;
    width: 80%;
    margin: auto;
  }

  .main-divs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px
  }

  .div-card {
    background-color: red;
    padding: 10px;
    display: inline-block;
    max-width: 100px;
  }
}

@media screen and (min-width: 501px) and (max-width: 1170px){
  body {
    font-size: 12px;
  }
  
  nav .container {
    max-width: 100%;
  }

  main {
    max-width: 100%;
  }

  .apresentacao {
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }

  .apresentacao div {
    flex: 1;
    /* display: inline-block; */
    max-width: 100%;
  }

  .apresentacao-texto {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
  }
  
  .apresentacao-texto h1 {
    font-size: 1.8em;
    margin-bottom: 0.5em;
  }
  
  .apresentacao-texto p {
    font-size: 1.2em;
    /* margin-bottom: 3em; */
  }

  .foto {
    display: block;
    margin: auto;
    max-width: 40%;
    border-radius: 25px;
  }

  .busca {
    margin-top: 20px;
  }

  .busca h3 {
    font-size: 1.5em;
    margin: 0px 0px 7px 0px;
    text-align: center;
  }

  footer div {
    max-width: 1200px;
    width: 80%;
    margin: auto;
  }

  .main-divs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px
  }

  .div-card {
    background-color: red;
    padding: 10px;
    display: inline-block;
    max-width: 100px;
  }
}

@media screen and (max-width: 500px) {
  body {
    font-size: 10px;
  }
  
  nav .container {
    max-width: 100%;
  }

  main {
    max-width: 100%;
  }

  .apresentacao {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
  }

  .apresentacao div {
    flex: 1;
    /* display: inline-block; */
    max-width: 100%;
  }

  .apresentacao-texto {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
  }
  
  .apresentacao-texto h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
  }
  
  .apresentacao-texto p {
    font-size: 1.4em;
    /* margin-bottom: 3em; */
  }

  .foto {
    display: block;
    margin: auto;
    max-width: 80%;
    border-radius: 25px;
  }

  .busca {
    margin-top: 10px;
  }

  .busca h3 {
    font-size: 1.7em;
    margin: 0px 0px 7px 0px;
    text-align: center;
  }

  footer div {
    max-width: 1200px;
    width: 80%;
    margin: auto;
  }

  .main-divs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px
  }

  .div-card {
    background-color: red;
    padding: 10px;
    display: inline-block;
    max-width: 100px;
  }

}


/* Implementação da feature do login */

.hide {
  display: none;
}

#login-section {

  margin: 20px auto;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  text-align: center;
  box-shadow: 0 0 10px rgba(128, 128, 128, 0.55);
  border-radius: 7px;
  background-color: #2fc18c95;
}

#login-section img {
  width: 80px;
}

#login-section h3 {
  font-weight: 550;
  font-size: 1.3em;
}

#user-div  {
  margin-top: 20px;
}

#user-div input {
  padding: 4px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.386);
  background-color: #ffffffd2;
  
}

#password-div input {
  margin-top: 10px;
  padding: 4px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.386);
  background-color: #ffffffd2;
}

#login-button {
  margin-top: 20px;
  background-color: var(--verdeT3);
  color: white;
  padding: 5px 15px;
  border-radius:7px;
  cursor: pointer;
  border: 1px solid var(--verdeT1);
}