:root {
    --verdeT1: #036b52;
    --verdeT3: #309e76;
    --verdeT2: #2fc18c;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.bg-verde {
    background-color: var(--verdeT1);
    color: white;
}

.bg-cinza {
    background-color: #333;
    color: black;
}

.text-branco {
    color: white !important;
}

.border-verde {
    border-bottom: 7px solid var(--verdeT2);
    
}

main {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}



.apresentacao{
    background-color: white;
    display: flex;
    justify-content: space-around;
}

.apresentacao div{
    flex: 1;
    display: inline-block;
    max-width: 45%;
}

.foto {
    max-width: 100%;
}